body{
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    font-size: 14px;
    line-height: 20px;
}

table {
    background-color: transparent;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 0.95px;
    border-collapse: separate;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgb(51, 51, 51);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 0.95px;
    border-spacing: 0px 0px;
    border-top-color: rgb(221, 221, 221);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 0.95px;
    color: rgb(51, 51, 51);
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
    max-width: 100%;
    width: 830.1px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;

}
table th{
    border-collapse: separate;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 0.95px;
    border-spacing: 0px 0px;
    border-top-color: rgb(51, 51, 51);
    border-top-left-radius: 4px;
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(51, 51, 51);
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    text-align:left;
    vertical-align:bottom;
}
table tr{
    border-collapse: separate;
    border-spacing: 0px 0px;
    color: rgb(51, 51, 51);
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    font-size: 14px;
    line-height: 20px;

}
table tr td {
    border-collapse: separate;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 0.95px;
    border-spacing: 0px 0px;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 0.95px;
    color: rgb(51, 51, 51);
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    text-align:left;
    vertical-align:top;
}

blockquote {

    border-left-color: rgb(238, 238, 238);
    border-left-style: solid;
    border-left-width: 4.75px;
    color: rgb(51, 51, 51);
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 0px;
    padding-top: 0px;
}

ul {
    color: rgb(51, 51, 51);
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

li{
    color: rgb(51, 51, 51);
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    font-size: 14px;
    line-height: 20px;
}

ol {
    color: rgb(51, 51, 51);
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

pre {
    background-color: rgb(245, 245, 245);
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 0.95px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgba(0, 0, 0, 0.15);
    border-left-style: solid;
    border-left-width: 0.95px;
    border-right-color: rgba(0, 0, 0, 0.15);
    border-right-style: solid;
    border-right-width: 0.95px;
    border-top-color: rgba(0, 0, 0, 0.15);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 0.95px;
    color: rgb(51, 51, 51);
    display: block;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-wrap: break-word;
    padding-bottom: 9.5px;
    padding-left: 9.5px;
    padding-right: 9.5px;
    padding-top: 9.5px;
    white-space: pre-wrap;
    word-break: break-all;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}

img {
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-bottom-style: solid;
    border-bottom-width: 0.95px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgba(0, 0, 0, 0.2);
    border-left-style: solid;
    border-left-width: 0.95px;
    border-right-color: rgba(0, 0, 0, 0.2);
    border-right-style: solid;
    border-right-width: 0.95px;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-top-style: solid;
    border-top-width: 0.95px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
    color: rgb(51, 51, 51);
    display: inline-block;
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    font-size: 14px;
    height: auto;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    max-width: 100%;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    vertical-align: middle;
    width: auto;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;

}

em {
    color: rgb(51, 51, 51);
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 20px;
}

strong {
    color: rgb(51, 51, 51);
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}


/*定义左侧导航栏样式*/
.leftNav{position:fixed;background:#fff;top:0px;bottom:0px;left:0px;padding:20px;max-height:100%;overflow:auto;width:310px;}
.leftNav .h1{font-weight:bold;font-size:18px;line-height:50px;}
.leftNav .h2{font-weight:bold;font-size:16px;line-height:30px;}
.leftNav .h3{line-height:40px;}
.leftNav a{text-decoration:none;}


/*定义右侧内容样式*/
.rightCon{padding-left:350px;}